<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PerguntasERespostas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>88EF1BA61E71E85E00F74171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88EF1BBA1E71E86300F74171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88EF1BC51E71E86300F74171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
